* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: radial-gradient(ellipse at center, #99f8ff, #007ea5, rgb(0, 0, 0));
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cube {
    width: 100%;
    max-width: 120rem;
    height: 100vh;
    position: absolute;

    transform: rotateX(var(--transform));
    transform-style: preserve-3d;
    transform-origin: bottom;
}

#hero-text {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-20%, -50%);
    mix-blend-mode: screen;
    filter: drop-shadow(0 0 10px #007ea5);
    color: #007ea5;
}
#landing {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #13151f;
    background-image: radial-gradient(circle at right, #99f8ff, #007ea5, #004a61, transparent, transparent, transparent);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 20px #13151f);
}
.star {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: screen;
    transform: translateX(0);
    animation-name: animate-star;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes animate-star {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-101vw);
    }
}


#home {
    filter: drop-shadow(0 0 20px #13151f);
    padding: 2rem;
    color: white;
    background-color: #13151f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1;

    transform: rotateX(-90deg);
    transform-origin: top;
}
#home h1 {
    margin: 4rem;
    font-size: 2rem;
}