* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 1.1rem; */
    scroll-behavior: smooth;
}

#star-count {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 100;
    background-color: #ffae80;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 15px #ffae80;
}
#submit {
    cursor: pointer;
    background-color: #97e1ff;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 1px solid #6171ff;
    height: 1.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
#star-count input {
    background-color: #97e1ff;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 1px solid #6171ff;
    height: 1.5rem;
    width: 3rem;
}
#star-count p {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;
}
#controls {
    display: flex;
    justify-content: center;
}
#controls a {
    margin-right: 0.2rem;
}

body {
    background-image: radial-gradient(ellipse at center, #99f8ff, #007ea5, rgb(0, 0, 0));
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cube {
    width: 100%;
    max-width: 120rem;
    height: 100vh;
    position: absolute;

    transform: rotateX(var(--transform));
    transform-style: preserve-3d;
    transform-origin: bottom;
}

#hero-text {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-20%, -50%);
    mix-blend-mode: screen;
    transition: fill 200ms ease;
    animation: shadow 1s ease 2s forwards;
    color: #007ea5;
    overflow: visible;
}
#svg-text path {
    stroke: #004a61;
    /* Initial stroke width 0 */
    stroke-width: 0;
    animation: fill 1s ease 2s forwards;
}
@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #008fbb;
    }
}
@keyframes shadow {
    from {
        filter: drop-shadow(0 0 50px #55d7ff);
    }
    to {
        filter: drop-shadow(0 0 30px #007ea5);
    }
}
#landing {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #13151f;
    background-image: radial-gradient(circle at right, #99f8ff, #007ea5, #004a61, transparent, transparent, transparent);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 20px #13151f);
}
#continue-to-portfolio {
    position: absolute;
    font-size: 1.5rem;
    filter: drop-shadow(0 0 10px #008fbb);
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    border: none;
    background-color: transparent;
    color: #008fbb;
    cursor: pointer;
}
.star {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    mix-blend-mode: screen;
    transform: translateX(0);
    opacity: 1;
    transition: opacity 2000ms ease;
}
.star.hidden {
    opacity: 0;
}

#home {
    position: absolute;
    top: 100%;
    filter: drop-shadow(0 0 20px #13151f);
    padding: 2rem;
    color: white;
    background-color: #13151f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1;

    transform: rotateX(-90deg);
    transform-origin: top;
}

h1 {
    margin: 1rem 0 2rem 0;
    font-size: 2rem;
}

h2 {
    margin-bottom: 1.5rem;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    transition: filter 200ms ease;
}
a:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.397));
}

#about-me {
    margin-bottom: 5rem;
}

#about-me__info {
    max-width: 50rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about-me__image {
    flex: 1;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

#about-me__text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#about-me__text h3 {
    margin-bottom: 1rem;
}

#projects {
    max-width: 50rem;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.project__image-container {
    flex: 1;
    max-height: 20rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.mobile-image {
    max-width: 10rem;
}

.project-description {
    flex: 1;
    text-align: left;
}

@media (max-width: 420px) {
    #landing {
        background-image: radial-gradient(circle at top left, #99f8ff, #007ea5, #004a61, transparent, transparent, transparent);
    }
    #hero-text {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
    }
    #svg-text {
        width: 100%;
    }
}